.card-wrapper {
  padding: 10px;
  justify-content: flex-start;
  padding: 12px;
  align-items: center;

  /* border: 2px solid black; */
  margin: 12px;
}

.book-cover {
  width: 110px;
  cursor: pointer;
}

.card-text {
  margin: 0px 17px 0px;
  text-align: left;
  cursor: pointer;
}

.card-book-title {
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  margin-bottom: 5px;
}

.card-book-description {
  font-size: 14px;
  font-weight: 500;
  line-height: 18px;
  color: var(--text-purple);
  margin: 10px 0px;
}
