@import url("./styles/variable.css");
@import url("./styles/commanClasses.css");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap");

body {
  font-family: "Poppins", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

@media all and (max-width: 1289px) {
  body {
    display: none;
  }
}
@media all and (max-width: 398px) {
  body {
    display: block;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
  }
}
